@import '../variables';

:global {
  :local(.Chat) {
    .chat-bubble {
      margin-block: $padding-m;
    }

    .buttons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding-block: $padding-m;
    }
  }
}
